<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <canvas class="scene scene--full" id="scene"></canvas>
  <div class="wrapper">
    {{ content }}
  </div>

  {% include analytics.html %}
  <script src="{{site.baseurl}}/assets/js/three.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/TweenMax.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/demo1.js"></script>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <script>
        new Valine({
            el: '#vcomments',
            appId: 'sLKhxL9hFEGAAxLp02IKGh0u-9Nh9j0Va',
            appKey: 'M6YOrIgsTLjvnWP3f7cS5Q81',
            lang:'en',
            placeholder:'Leave a comment here'
        })
    </script>
</body>
</html>
